@model IEnumerable<Portal.Common.ViewModels.Category.CategoryListViewModel>
@using Portal.Common.Extention;

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="/Admin/Categories/Create">افزودن</a>
</p>

<table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                عنوان
            </th>
            <th>
                زمان ساخت
            </th>
            <th>
                سازنده
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.CreatedTime.ToPersianDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <a href="/Admin/Categories/Edit?id=@item.Id">ویرایش</a> |
                    <a href="#!" class="btnDelete">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.btnDelete').click(function () {
                var id = $(this).parent().parent().attr('id');
                var parent = $(this).parent().parent();
                $.ajax('/Admin/Categories/Delete?id=' + id, {
                    type: 'POST',  // http method
                    success: function (result) {
                        if (result == true) {
                            $(parent).hide();
                        }
                        else {
                            alert("error");
                        }
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        alert(errorMessage);
                    }
                });
            })
        });
    </script>
}
