@model Portal.Common.ViewModels.Account.LoginViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ورود</title>
    <!--login styles-->
    <link href="~/css/Login.css" rel="stylesheet" type="text/css" />
    <!--reset style for reset css default styles-->
    <link href="~/css/reset.css" rel="stylesheet" type="text/css" />
    <!--Bootstrap rtl styles-->
    <link href="~/Lib/Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!--font awesome-->
    <link href="~/css/FontAweSome.css" rel="stylesheet" />
</head>

<body class="app flex-row align-items-center text-right">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="Login" asp-controller="auth" method="post" autocomplete="off">
                    <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body text-left">
                                <h1>ورود</h1>
                                <p class="text-muted">ورود به حساب کاربری</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-alt"></i></span>
                                    </div>
                                    <input asp-for="UserName" type="text" class="form-control bg-white" placeholder="نام کاربری">
                                    <div class="invalid-feedback d-block">
                                        <span asp-validation-for="UserName"></span>
                                    </div>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-lock-alt"></i></span>
                                    </div>
                                    <input asp-for="Password" type="password" class="form-control bg-white" placeholder="رمز عبور">
                                    <div class="invalid-feedback d-block">
                                        <span asp-validation-for="Password"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input asp-for="IsRemember" />
                                        <label>
                                            @Html.DisplayNameFor(model => model.IsRemember)
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 p-0">
                                        <button type="submit" class="btn btn-primary px-4 float-right">ورود</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="button" class="btn btn-link px-0">فراموشی رمز عبور</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-primary py-5 d-md-down-none col-sm-12">
                            <div class="card-body text-center">
                                <div>
                                    <h2>لورم ایپسوم</h2>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است
                                    </p>
                                    <a class="btn btn-primary active mt-3" href="/auth/register">ثبت نام کنید</a>
                                    <a class="btn btn-info mt-3" href="/Auth/ActivateAccount">فعالسازی اکانت</a>
                                </div>
                            </div>
                        </div> 

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>