
@{
    ViewBag.Title = "صفحه کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start tab-->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#followedPosts" role="tab" data-toggle="tab">پست های دنبال شده</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#comments" role="tab" data-toggle="tab">نظرات</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="followedPosts">...</div>
    <div role="tabpanel" class="tab-pane fade" id="comments">bbb</div>
</div>
<!--end tab-->

@section Sidebar{
   <p>adfasdf</p>
}